flows.json
[
    {
        "id": "365269277e20a713",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0db224384db3ce63",
        "type": "inject",
        "z": "365269277e20a713",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "e246fbab0bc70c9c"
            ]
        ]
    },
    {
        "id": "e246fbab0bc70c9c",
        "type": "http request",
        "z": "365269277e20a713",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?q=Luxembourg&units=metric&appid=dd23ad94f206a6655e4d0dc9f2629032",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 80,
        "wires": [
            [
                "5b3d667b35676676",
                "b3ac1d7c15d288f1"
            ]
        ]
    },
    {
        "id": "b3ac1d7c15d288f1",
        "type": "function",
        "z": "365269277e20a713",
        "name": "function 1",
        "func": "let data = msg.payload;  // Direkt übernehmen, kein JSON.parse\n\nfunction bewerteWetter(data) {\n    const rain = data.rain?.[\"1h\"] || 0;\n    const wind = data.wind?.speed || 0;\n    const temp = data.main?.temp || 0;\n\n    if (rain > 0) {\n        return \"a\";\n    } else if (wind > 40) {\n        return \"b\";\n    } else if (temp < 5) {\n        return \"c\";\n    } else {\n        return \"d\";\n    }\n}\n\nmsg.payload = bewerteWetter(data);\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 260,
        "wires": [
            [
                "1f856733474403b1",
                "49c70149147e17a9"
            ]
        ]
    },
    {
        "id": "5b3d667b35676676",
        "type": "debug",
        "z": "365269277e20a713",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 120,
        "wires": []
    },
    {
        "id": "1f856733474403b1",
        "type": "debug",
        "z": "365269277e20a713",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "c9e08c2a7fd9b78d",
        "type": "template",
        "z": "365269277e20a713",
        "name": "Build Write Command",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " --line \"{{line}}\" --message \"{{payload}}\"",
        "output": "str",
        "x": 740,
        "y": 360,
        "wires": [
            [
                "c3bc5ca5e07d0a10"
            ]
        ]
    },
    {
        "id": "c3bc5ca5e07d0a10",
        "type": "exec",
        "z": "365269277e20a713",
        "command": "python /home/ProTo/digilab/lcd/write.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Run Write Script",
        "x": 980,
        "y": 380,
        "wires": [
            [
                "9546361b1aac4d3c"
            ],
            [
                "f852cdd93a6c0a46"
            ],
            [
                "0b2dde7771669a2c"
            ]
        ]
    },
    {
        "id": "9546361b1aac4d3c",
        "type": "debug",
        "z": "365269277e20a713",
        "name": "Write stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1230,
        "y": 340,
        "wires": []
    },
    {
        "id": "f852cdd93a6c0a46",
        "type": "debug",
        "z": "365269277e20a713",
        "name": "Write stderr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1230,
        "y": 380,
        "wires": []
    },
    {
        "id": "0b2dde7771669a2c",
        "type": "debug",
        "z": "365269277e20a713",
        "name": "Write RC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1220,
        "y": 420,
        "wires": []
    },
    {
        "id": "8e560320b08c1b59",
        "type": "switch",
        "z": "365269277e20a713",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "a",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "b",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "c",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "d",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "b8808381fcedc685"
            ],
            [
                "ad7524db7926a026"
            ],
            [
                "2743b93c1946da1f"
            ],
            [
                "c1c17f67d24d11f9"
            ]
        ]
    },
    {
        "id": "b8808381fcedc685",
        "type": "change",
        "z": "365269277e20a713",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": " Nicht fahren – Es regnet!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "line",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 300,
        "wires": [
            [
                "c9e08c2a7fd9b78d"
            ]
        ]
    },
    {
        "id": "ad7524db7926a026",
        "type": "change",
        "z": "365269277e20a713",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Vorsicht – Wind ist stark!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "line",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 340,
        "wires": [
            [
                "c9e08c2a7fd9b78d"
            ]
        ]
    },
    {
        "id": "2743b93c1946da1f",
        "type": "change",
        "z": "365269277e20a713",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Sehr kalt – besser nicht!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "line",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 380,
        "wires": [
            [
                "c9e08c2a7fd9b78d"
            ]
        ]
    },
    {
        "id": "c1c17f67d24d11f9",
        "type": "change",
        "z": "365269277e20a713",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Perfektes Wetter zum Fahren",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "line",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "c9e08c2a7fd9b78d"
            ]
        ]
    },
    {
        "id": "84069fd59c571fa9",
        "type": "inject",
        "z": "365269277e20a713",
        "name": "Initialize & Clear LCD",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 240,
        "y": 620,
        "wires": [
            [
                "0e81b997392f60ef"
            ]
        ]
    },
    {
        "id": "0e81b997392f60ef",
        "type": "exec",
        "z": "365269277e20a713",
        "command": "python /home/ProTo/digilab/lcd/init.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Run Init/Clear Script",
        "x": 480,
        "y": 600,
        "wires": [
            [
                "4d127f3eeb3b5032"
            ],
            [
                "a222be2bb61fa688"
            ],
            [
                "0987c0a434f54e6c"
            ]
        ]
    },
    {
        "id": "4d127f3eeb3b5032",
        "type": "debug",
        "z": "365269277e20a713",
        "name": "Init stdout",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 680,
        "y": 600,
        "wires": []
    },
    {
        "id": "a222be2bb61fa688",
        "type": "debug",
        "z": "365269277e20a713",
        "name": "Init stderr",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 640,
        "wires": []
    },
    {
        "id": "0987c0a434f54e6c",
        "type": "debug",
        "z": "365269277e20a713",
        "name": "Init RC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 680,
        "wires": []
    },
    {
        "id": "fbf5537598126a6f",
        "type": "rpi-gpio in",
        "z": "365269277e20a713",
        "name": "",
        "pin": "16",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "e246fbab0bc70c9c"
            ]
        ]
    },
    {
        "id": "49c70149147e17a9",
        "type": "delay",
        "z": "365269277e20a713",
        "name": "",
        "pauseType": "delay",
        "timeout": "500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 190,
        "y": 380,
        "wires": [
            [
                "8e560320b08c1b59"
            ]
        ]
    },
    {
        "id": "a6f3d4ecf2408911",
        "type": "rpi-gpio in",
        "z": "365269277e20a713",
        "name": "",
        "pin": "19",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "0e81b997392f60ef"
            ]
        ]
    }
]
